@import '../core/variables.scss';
@import '../core/mixins.scss';

.footer {
  z-index: 4;
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  bottom: 0;
  color: $white;
  width: 100vw;
  padding-top: 0.5rem;
  background-color: #21240d9a;
  @include tablet {
    flex-direction: row;
    justify-content: space-around;
  }
  &--link {
    color: $aqua;
    text-decoration: underline;
  }
  section {
    width: 100vw;
    @include tablet {
      width: fit-content;
    }
  }
  .form_footer {
    display: none;
    @include tablet {
      display: inline-block;
      font-size: 0.9rem;
    }
    .clock {
      background-color: $soft_black;
      color: $white;
      font-family: Verdana, Arial, Helvetica;
      text-align: center;
      width: min-content;
      border-radius: 6px;
      margin: 0.2rem;
    }
  }
}
