@import '../core/variables.scss';
@import '../core/mixins.scss';

.header {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 1rem;
  &--img {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    @include tablet {
      width: auto;
    }
  }
}
