@import '../core/mixins.scss';

.detail {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
  @include tablet {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    width: fit-content;
    margin: 1rem;
  }
  &--img {
    // grid-column: 1/2;
    @include tablet {
      grid-column: 1/2;
    }
  }
  &--list {
    // grid-column: 2/3;
    @include tablet {
      grid-column: 2/3;
    }
  }
}
